.loginsecuence input[type="text"],
.loginsecuence input[type="password"] {
    font-size: 16px;
    height: auto;
    width: 265px;
    margin-bottom: 15px;
    padding: 7px 9px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.logincontainer {
    width: 300px;
}

.container{
}

.table_left{
    float:left;
    width:100%;
}

.sidebar{
    float: left;
    width:270px;
    margin-left: -270px;

}

.main-content{
    margin-right: 300px;
}

.main-content-wrapper{
    float:left;
    width: 100%;
}

.filter-form{
    margin-bottom: 10px;
    clear: both;
}

.filter-form input{
    width: 235px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}

.formsidebar{
    padding: 3px 15px 15px 15px;
}

.sidebar-label{
    margin-top: 5px;
    display: block;
    text-transform: uppercase;
    color: #5e6469;
    font-size: 0.8em;
    font-weight: bold;
}

.twat-box{
    width:100%;
    height: 80px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1.5px solid #e5e5e5;

}

.twat-button{
    float: right;
}